%li.middle__info__list
  %p.middle__info__list--time-stamp
    = blogtext.created_at.strftime('%Y年%-m月%-d日(%a)%H時%M分')
  %p.middle__info__list--user-name
    = blogtext.user.name
  %p.middle__info__list--title
    - if newOrUser == "マイブログ記事"
      = link_to blogtext.title, user_path(blogtext.id), method: :get
    - else
      = link_to blogtext.title, blogtext_path(blogtext.id), method: :get
  - if user_signed_in?
    - if blogtext.user_id == current_user.id
      %p.middle__info__list--button
        = link_to "編集する", edit_blogtext_path(blogtext.id), method: :get
      %p.middle__info__list--button
        = link_to "削除する", blogtext_path(blogtext.id), method: :delete, data: { confirm: "削除しますか？" }
    -# - if 
    -#   = link_to blogtext.title, user_blogtext_path(@blogtexts), method: :get
    -# - else
    -#   = link_to blogtext.title, blogtext_path(blogtext.id), method: :get
    
    