.middle-content
  = render partial: 'middle-side', locals: { blogtexts: @blogtexts, newOrUser: "新着ブログ記事"  }
  .middle-main    
    .middle-main__blog
      %h1 本文（編集）
    .blog__text
      %p 
        - if @blogtext.user_id == current_user.id
          .form
            = form_for [@blogtext] do |f|
              = f.text_field :title, class: 'form-title'
              = f.submit '更新する', class: 'form-btn'
              = f.text_area :text, class: 'form-text'
        - else
          = @blogtext.text
= render partial: 'footer-content'