
.middle-content
  = render partial: 'middle-side', locals: { blogtexts: @blogtexts, newOrUser: "新着ブログ記事"  }
  .middle-main    
    = render partial: 'middle-main', locals: { blogtext: @blogtext }
    .middle-main__border 
      .form-comment
        = form_for [@blogtext, @comment] do |f|
          = f.text_area :comment, class: 'form-comment-box'
          = f.submit 'コメントする', class: 'form-comment-btn'
    %ul.middle-main__comment
      <br>コメント一覧
      - if @comments.length != 0
        = render partial: 'comments', locals: { comments: @comments }
      - else 
        <br><br>コメントはありません
.footer__content