
.middle-content
  - if @blogtexts.length == 0
    .middle-side
      %p.middle-side__header
        記事未投稿
      %ul.middle__info
    .middle-main 
      .middle-main__blog
        %h1 
      .blog__text
        %p 
      .middle-main__border
      %ul.middle-main__comment
  - else
    = render partial: '/blogtexts/middle-side', locals: { blogtexts: @blogtexts, newOrUser: "マイブログ記事"  }
    .middle-main    
      = render partial: '/blogtexts/middle-main', locals: { blogtext: @blogtext }
      .middle-main__border 
        .form-comment
          = form_for [@blogtext, @comment] do |f|
            = f.text_area :comment, class: 'form-comment-box'
            = f.submit 'コメントする', class: 'form-comment-btn'
      %ul.middle-main__comment
        <br>コメント一覧
        - if @comments.length != 0
          = render partial: '/blogtexts/comments', locals: { comments: @comments }
        - else 
          <br><br>コメントはありません
  .footer__content
